body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    background: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 6px;
}

input, button {
    margin-top: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}
